@import '../../../../../styles/variables.scss';

$borderColor: #c1c1c1;
.sheet-wrapper{
  height: calc(100% - 30px);
  .sheet-header{
    background-color: #ddd;
    white-space: nowrap;
    
    .sheet-header-field{
      height: 30px;
      display: inline-block;
      
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
      line-height: 30px;
      text-align: center;

      &:first-child{
        border-left: 1px solid $borderColor;
      }

      &.selected-field{
        background-color: #c1c1c1;
      }

      .anticon-key{
        transform: rotateZ(135deg);
        font-size: 12px;
        color: $black;
      }
    }
  }
  

  .sheet-body{
    height: calc(100% - 30px);
    overflow: auto;
    .sheet-no{

    }
    .sheet-rows{
      .sheet-row{
        height: 34px;
        white-space: nowrap;
        .cell-container{
          height: 100%;
          line-height: 32px;
          border-right: 1px solid $borderColor;
          border-bottom: 1px solid $borderColor;
          cursor: pointer;
          &:first-child {
            border-left: 1px solid $borderColor;
          }

          &.selected-field{
            background-color: #c1c1c1;
          }
        }
      }
    }
  }
}