.sheet-wrapper{
  .sheet-header{
    background-color: #ddd;
    white-space: nowrap;
    
    .sheet-header-field{
      height: 30px;
      display: inline-block;
      line-height: 30px;
      text-align: center;
    }
  }
  

  .sheet-body{
    .sheet-no{

    }
    .sheet-rows{

    }
  }
}