@import '~antd/dist/antd.css';
@import './styles/form.scss';

html, body, #root{
  height: 100%;
}
#root{
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
}
body, ul, li{
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
}